<!DOCTYPE html>
<html>
  <head>
    <title>MicroReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-bar">
      <div class="logo">Micro-Reddit</div>
      <div class="nav-item-container">
        <div class="nav-item"><%=link_to "Home", posts_path%></div>
        <div class="nav-item"><%=link_to "Create Post", new_post_path%></div>
        <%if current_user%>
          <div class="nav-item"><%=link_to "Log Out", destroy_user_session_path, method: "delete"%></div>
        <%else%>
          <div class="nav-item"><%=link_to "Sign In", new_user_session_path%></div>
          <div class="nav-item"><%=link_to "Sign Up", new_user_registration_path%></div>
        <%end%>
      </div>
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="body-container">
      <div class="body-constraints">
        <%= yield %>
      </div>
    <div>

  </body>
</html>
